:root {
    --background: #f2f2f2;
    --border: #000000;
    --header-background: #048abf;
    --header-stroke: #f20505;
    --header-fill-0: #f2f2f2;
    --header-fill-100: #ee3b3b;
    --button-color: #f2f2f2;
    --button-background: #048abf;
    --button-background-hover: #f20505;
    --grid-background: #ffffff;    
    --button-active-background: #f20505;
    --button-active-color: #048abf;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    line-height: 1.6;
}

body {
    background-color: var(--background);
    text-align: center;
}

header {
    background-color: var(--header-background);
    border-radius: 5px;
    padding: 1vw;
    padding-top: 35px;
    margin: 20px;
    font-family: 'Bungee Shade', cursive;
    font-size: 1vw;
}

svg text {
    letter-spacing: 5px;
    padding-top: 40px; 
    stroke: var(--header-stroke);
    font-size: 7.5em;
    font-weight: 700;
    stroke-width: 3;
    animation: textAnimate 5s infinite alternate;
}
  
@keyframes textAnimate {
    0% {
        stroke-dasharray: 0 70%;
        stroke-dashoffset:  20%;
        fill: var(--header-fill-0);
    }   
    100% {
      stroke-dasharray: 50% 0;
      stroke-dashoffset: -20%;
      fill: var(--header-fill-100);
    }    
}

.button {
    border-radius: 8px;
    color: var(--button-color);
    background-color: var(--button-background);
    font-size: 1.1em;
    font-weight: bold;
    padding: 6px;
}

.button:hover {
    cursor:pointer;
    color: var(--button-color);
    background-color: var(--button-background-hover);
    transition: all 0.5s ease;
}

.button:active {
    color: var(--button-active-color);
    background-color: var(--button-active-background);
  }

#grid-container {
    margin-top: 20px;
    box-shadow: rgb(22, 22, 22) 15px 15px;
}
  
.grid {
    display: grid;
    background-color: var(--grid-background);
    border-radius: 4px;
    max-width: 520px;
    min-height: 520px;
    margin: 2rem auto;
    border: 2px solid var(--border);
}

.grid-element {
    border: 1px solid var(--border);
}

@media (max-width: 520px) {
    header {
      font-size: 2.4rem;
    } 
    .grid {
      max-width: 300px;
      min-height: 300px;
    }
}

footer{
    font-size: 25px;
    bottom: 0;
    justify-content: center;
    font-family: 'Allerta Stencil', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}

#gh-logo{
    width: 35px;
    height: 35px;
    margin-bottom: -9px;
    margin-right: 10px;
}
